.col-1{
    width: 4%;
    padding-left: 2rem;
}
.col-2{
    width: 6.5%;
}
.col-3{
    width: 7%;
}
.col-4{
    width: 7%;
}
.col-5{
    width: 5%;
}
.col-6{
    width: 15%;
}
.col-7{
    width: 8%;
}
.col-8{
    width: 10%;
}
.col-9{
    width: 11%;
}
.col-10{
    width: 26%;
}
